<div class="start-game">
  <div class="start-game__dropdown-wrapper">
    <label for="deck-size">Deck size:</label>
    <select
      name="deck-size"
      id="deck-size"
      [(ngModel)]="selectedDeckSize"
      class="app-dropdown start-game__dropdown"
    >
      @for(size of possibleDeckSizes; track size){
      <option value="{{ size }}">{{ size }}</option>
      }
    </select>
  </div>
  <button class="start-game__button app-button" (click)="startGame()">
    START A NEW GAME
  </button>
</div>
