.landing-page {
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;

  h2 {
    margin: 0;
  }

  &__logo {
    width: 234px;
    filter: invert(1);
  }

  ::ng-deep app-start-game {
    width: 60%;
    .start-game {
      &__dropdown-wrapper {
        width: 60%;
      }

      &__button {
        margin-top: 36px;
        width: 100%;
      }
    }
  }
}
