.game-page {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;

  margin-inline: 32px;

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
  }

  app-game-board {
    width: fit-content;
    max-width: 760px;
  }
}
