$red: rgb(228, 0, 57);

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: sans-serif;

  overflow: scroll;

  background-color: rgb(228, 0, 57);
}

.bold {
  font-weight: 600;
}

.separator {
  margin-inline: 5px;
}

.card {
  background-color: white;
  border-radius: 18px;
  padding: 18px;
  color: black;
}

.framed-text {
  border: 1px lightgray solid;
  border-radius: 8px;
  padding: 8px;
}

@mixin app-button-common {
  border-radius: 24px;
  border: 1px $red solid;

  padding: 12px;

  font-size: 11pt;

  display: block;

  &:hover {
    cursor: pointer;
  }
}

.app-button {
  @include app-button-common;

  background-color: $red;
  color: white;

  &:hover {
    $red-light: rgb(268, 40, 97);
    background-color: $red-light;
    border: 1px $red-light solid;
  }
}

.app-button-white {
  @include app-button-common;

  background-color: white;
  color: $red;

  &:hover {
    background-color: $red;
    color: white;
  }
}

.app-dropdown {
  border: 1px lightgray solid;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
}

.bold {
  font-weight: 600;
}

.red {
  color: $red;
}
